body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-area{
    display: flex;
    margin-bottom: 100px;
}
.focus-headings{
    border-left: 4px solid #FF5959;
    padding-left: 13px;

}
h1{
    font-size: 40px;
    
}
.orange-txt{
    color: orange;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width p{
    color: gray;
    padding-bottom: 20px;
    
}
.button{
    background-color: orange;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.half-width img{
    width: 75%;
}
#mission-heading{
    text-align: center;
}
.card{
    width: 25%;
    padding: 20px;
    
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
}
.card img{
    width: 30%;
}
.card p{
    color: gray;
}
#mission{
    background-color: #4f9da657;
}
#vission{
    background-color: #ff595957;
}
#goals{
    background-color: #FFF4D6;
    
}
.mission-sec{
    background-image: url(./image/shapes/Group\ 57404.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.limitless{
    background-image: url(./image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}
.global-com {
    background-image: url(./image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right bottom;
}